---
  import GeneralLayout from '../../../layouts/GeneralLayout.astro'
 
 const title = "Lesson 1 - Page 2"
 const pageTitle = "Vocabulary:"
---

<GeneralLayout title={title} pageTitle={pageTitle} >
 <p>Bienvenidos a la pagina 2</p>
</GeneralLayout>
