---
  import GeneralLayout from '../../../layouts/GeneralLayout.astro'
 
 const title = "Lesson 1 - Page 2"
 const pageTitle = "GRAMMAR:"
---

<GeneralLayout title={title} pageTitle={pageTitle} >
 <p> pagina 3</p>
</GeneralLayout>
