<div>
  <p class="titleWord"> VOCABULARY </p>
  <p>
    <span style="color: #4770bd"> (vocábiulari) </span>
    <span style="color: #ff23ae" > /’vəʊ'kæbjʊlərɪ/ </span>
    <span style="color: #2c2c2c" > Vocabulario </span>
  </p>
</div>


<style>
  .titleWord {
    padding: 1rem 0rem;
    color: #42504B;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    /* background-color: #faf9f9; */
  }  

</style>